<div>
<app-nav-menu></app-nav-menu>

<div id="contactus">

<h1>WELCOME TO THE CARING WORLD</h1><br/>
<br/>
<p>
    <b>
        All newborns require essential newborn care to minimize the risk of illness and maximize their growth and development.
        Warmth,normal breathing,and prevention of infection are the basic needs of normal baby at birth.......
        This care will also prevent many newborn emergencies. There are few points to remember for caring babies.
    </b>
</p>
<p><b>1. Feeding</b></p>
<p><b>2. Burping</b></p>
<p><b>3. How to Hold Your Newborn</b></p>
<p><b>4. Diapering</b></p>
<p><b>5. Bathing</b></p>
<p><b>6. Massaging</b></p>
<p><b>7. Sleeping</b></p>
<br/>
<h1>1.FEEDING:</h1>
<p><b>It is very important to feed the baby on time. A newborn has to be fed every 2 to 3 hours, which means you need to nurse her 8-12 times in 24 hours.</b></p>
<br/>
<h1>2.BURPING:</h1>
<p><b>Once the baby is fed, she needs to be burped. Babies swallow air while feeding, which causes gas and colic in their tummies.</b></p>
<br/>

<h1>3.HOW TO HOLD YOUR NEWBORN:</h1>
<p><b>It is very important to ensure that you are supporting your baby’s head and neck with one hand while holding her.
This is because her neck muscles are not yet strong enough to hold up the head independently. 
The backbone is also still growing and becoming stronger. The neck will be able to support the head on its own only after 3 months of age.
So pay attention to supporting your baby’s head and neck while taking care of a newborn baby.</b></p>
<br/>
<h1>4.DIAPERING:</h1>
<p><b>Changing diapers frequently is an important aspect when taking care of a newborn baby after delivery. 
If your baby is getting sufficient breast milk or formula, she will wet at least 6 to 8 diapers in a day, along with regular bowel movements. 
Change her diaper frequently, as soon as it feels full.</b></p>
<br/>
<h1>5.BATHING:</h1>
<p><b>Bathing a newborn is a delicate task. The bath is usually given 2-6 hours after birth in a healthy term baby weighing more than 2500g. 
However, bathing can be delayed in certain situations such as winter. In a low birth weight infant, bathing should be delayed until the cord has fallen off.
You should start bathing the baby 2 to 3 times a week after the cord stump dries and falls off.</b></p>
<br/>
<h1>6.MASSAGING:</h1>
<p><b>Massaging is a great way to bond with your baby. It also helps in soothing the baby to sleep and in improving blood circulation and digestion.
Spread a small quantity of baby oil or lotion on your hands. Next, gently and rhythmically stroke her body.
Maintain eye contact with the baby and talk to her when massaging her body. A good time to massage the baby is before her bath.
</b></p>

<h1>7.SLEEPING:</h1>
<p><b>Newborns need to sleep for about 16 hours a day in the first 2 months. They usually take naps that are 2 to 4 hours long and wake up if they are hungry or wet. 
As the baby needs to be fed every 3 hours, you may need to wake her and feed her. Do not worry in case she does not follow the ideal newborn sleep pattern. 
Every baby is different and has a different sleep cycle. You should also remember to alternate your baby’s head position while she is sleeping.
This prevents the formation of flat spots on the head. Make sure you put the baby to sleep on her back to avoid suffocation. A mother should try to take naps along with the baby.
She can also use the time to have a bath or eat a meal peacefully while her baby is asleep.
</b></p>
</div>
</div>