
#contactus{
    background-image:url("../../assets/mother.jpg");
    background-size: cover;    
    padding: 50px 0px 0px 230px;
}

body {
    color: blue;
}

h1 {
    font-size: 2rem;
    font-weight: bolder;
    color: rgb(255, 80, 71);
    text-align: center;
}

p{
    font-size: 1rem;
    color: rgb(0, 0, 0);
    text-align: left;
}