#home {
    padding: 50px 0px 0px 230px;
}

table {
    min-width: 99%;
    
}

table, .border {
    border-collapse: separate;
    text-align: center;
    border-width: 1px;
    border-color: burlywood;
    border-style: solid;
}

img{
    height: 150px;
}

.notificationStyle{
    float: right;
    margin-right: 25px;
}